.btn-execute {
  // border-radius: 100px;
  position: absolute;
  top: 8px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.5rem;
  outline: none;
  margin-left: 50px;
  // margin-right: 10px;
  cursor: pointer;
  border: none;
}

.fas {
  color: black;
  font-size: 1rem;
}
