.btn-execute {
  position: absolute;
  top: 8px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  // margin-left: 50px;
  // margin-right: 10px;
  cursor: pointer;
  transition: 500ms;
  border: none;
  &:hover {
    background-color: #948b8b;
  }
}

.fas {
  color: #93adcf;
  font-size: 0.5rem;
}
