@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
.code {
  display: grid;
  grid-template-columns: 0.5fr 11.5fr;
}

.cell-execution-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.codeblock {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1em;
  width: 100%;
  position: relative;
  border-radius: 10px;
}

.codeblock__code {
  min-height: 20px;

  resize: none;
  padding-left: 20px;
  background-color: rgb(233, 228, 228);

  border: 0.25px rgb(186, 227, 243) solid;
  font-family: "consolas", sans-serif;
  overflow: auto;
  font-size: 18px;
  padding: 0.8rem;
  width: 88%;
  outline: none;
}

.codeblock__output {
  padding: 0.5rem;
  height: 20px;
  background-color: #f3f3f3;
  font-family: "consolas", sans-serif;
  overflow-y: auto;
  width: 89%;
}

.output {
  display: grid;
  grid-template-columns: 0.5fr 11.5fr;
  line-height: 1.5;
  white-space: pre-line;
}
